.selectedPokemonInfo {
  padding-bottom: 1%;
}

.statsTable {
  /* border-collapse: collapse; */
  width: 100%;
}

.statsTable th,
.statsTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}