@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Montserrat:wght@300;400&display=swap');

:root {
   --red-button-color: #B74555;
   --card-color: #3fd1d4;
}

* {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

body {
   background-color: bisque;
}

.Main_js_container {
   /* width: 100%; */
   margin: 0 2% 0 2%;
   /* padding-top: 5%; */
   display: flex;
   /* position: relative; */
   /* position: column; */
}

.NavBar {
   left: 0;
   background-color: rgb(249, 212, 166);
   width: 100%;
   /*below, needed for GitHub icon*/
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.NavBar h2 {
   padding: 1% 0 1% 2%;
}

.NavBar>a {
   margin-left: auto;
   width: 3%;
   margin-right: 1%;
   cursor: pointer;
   transition: transform 0.3s;
   /*smoother animation*/
}

.NavBar>a>img {
   width: 100%;
   /* ensure  image takes up 100% of the anchor's width */
}

.NavBar>a:hover {
   transform: scale(0.97);
}

.SearchBox {
   /* order: 2; */
   /* position: absolute; */
   /* top: 0; */
   /* left: 0; */
   padding: 1% 0 0 2%;
   /* width: 100%; */
}

.SearchButton  {
   margin-left: 0.5%;
}

input {
   width: 15%;
}

.Card_Container {

   margin-top: 4%;
   display: grid;
   grid-template-columns: repeat(2, minmax(1rem, 1fr));
   /* grid-template-columns: repeat(2, calc((60%) / 2)); */
   gap: 1.5rem;
   /* margin-right: -50%; */
}

.left_content img {
   width: 30%;
}

.Card_js {
   width: 300px;
   height: 75px;
   background-color: var(--card-color);
   border-radius: 1rem;
   box-shadow: 0 5px 5px black;
   padding: 0 1.5rem;
   /* padding: 1rem; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   cursor: pointer;
}

.Card_Container div:hover {
   transform: scale(0.996);
}

.left_content,
.right_content {
   /* Card.js */
   flex-basis: 50%;
}

.right_content {
   /* padding-top: 1%; */
   width: 50%;
   text-align: center;
   color: black;
   /* position: fixed; this stops the right side scrolling */
   /* top: 100px; */
   right: 10px;
}

.right_content img {
   margin: 2rem;
}

.right_content h1 {
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
}

.btn_div {
   display: flex;
   /* gap: 10px; */
   margin-top: 1%;
}

.btn_div button {
   /* display: flex; */
   outline: none;
   border: none;
   width: 150px;
   height: 35px;
   padding: 0.3rem 0;
   margin: 1rem;
   font-size: 17px;
   color: white;
   background-color: var(--red-button-color);
   border-radius: 8px;
   cursor: pointer;
   transition: transform 0.3s;
}

.btn_div :hover {
   transform: scale(0.98);
}

.OfficialArtwork {
   width: 15rem;
}

/* @media (min-width: 1686px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
   }
} */

/*turns out my second monitors screen is 1685px*/