@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Montserrat:wght@300;400&display=swap');

:root {
   --red-button-color: #B74555;
   --card-color: #3fd1d4;
 }  

*{
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

body{
   background-color: bisque;
}

.Main_js_container {
    width: 90%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    position: relative;
}

.NavBar {
   order: 1;
   position: absolute;
   top: 0;
   left: 0;
   padding-top: 2%;
   background-color: rgb(249, 212, 166);
   width: 100%;
}

.NavBar h2 {
   display: flex;
   align-content: center;
}

.SearchBox {
   order: 2;
   position: absolute;
   top: 0;
   left: 0;
   padding-top: 5%;
  }

  .left_content {
   padding-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* 2 columns */
    gap: 2rem;
  }

  .left_content img{
   width: 30%;
}

.Card_js{
   width: 300px;
   height: 75px;
   background-color: var(--card-color);
   border-radius: 1rem;
   box-shadow: 0 5px 5px black;
   padding: 0 1.5rem;
   /* padding: 1rem; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   cursor: pointer;
}

.left_content, .right_content { /* Card.js */
   flex-basis: 50%;
}

.right_content{
   padding-top: 3%;
   width: 50%;
   text-align: center;
   color: black;
   /* position: fixed; this stops the right side scrolling */
   /* top: 100px; */
   right: 10px;
}

.right_content img {
   margin: 2rem;
}

.right_content h1 {
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
}

.stats {
   background-color: var(--red-button-color);
   color: white;
   padding: 0.5rem;
   font-size: 12px;
   border-radius: 8px;
   width: 5vw;
   justify-content: center;
}

.btn_div button {
  /* display: flex; */
  outline: none;
  border: none;
  width: 150px;
  height: 35px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  color: white;
  background-color: var(--red-button-color);
  border-radius: 8px;
  cursor: pointer;
}

.btn_div{
   display: flex;
   /* gap: 10px; */
}

.OfficialArtwork {
   width:15rem;
}